@use '../../scss/' as *;
.swiper-slide {
  cursor: pointer;
  img {
    scale: 1;
    transition: all 0.3s ease;
    width: 100%;
    object-fit: cover;
    max-height: 600px;
  }
  &:hover img {
    scale: 1;
  }
}
.swiper-wrapper ~ .swiper-button-prev,
.swiper-wrapper ~ .swiper-button-next {
  color: $white;
}
