@use "../../scss/" as *;
footer {
  height: 90px;
  color: $main-color;
  background-color: #001a36;
  @include mobile {
    min-height: 200px;
    font-size: 1.8rem;
    position: relative;
    right: 0;
    float: left;
    clear: both;
    width: 100%;
  }
  .footer__inner {
    max-width: 1244px;
    height: 100%;
    height: 100%;
    margin: 0 auto;
    @include flex(center, space-between);
    @include mobile {
      flex-direction: column;
      align-items: center;
      justify-content: none;
      padding: 10px;
      li {
        width: 100%;
        padding-top: 1rem;
        border-bottom: 1px solid $main-color;
      }
    }
    &__help {
      display: flex;
      li {
        padding-right: 1rem;
      }
      @include mobile {
        flex-direction: column;
        font-weight: lighter;
        width: 100%;
        font-size: 1.5rem;
      }
    }
    .fanpage {
      i {
        color: $white;
        font-size: 2rem;
        @include mobile {
          font-size: 4rem;
        }
      }
    }
  }
}
