$body-bg: white;
$main-color: #707070;
$txt-hover: #001a36;
$white: #fff;
$black: #000;
$red-color: #d5622a;
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 8rem;
$border-radius: 30px;
$mobile-width: 600px;
$tablet-width: 1024px;
$font-family: 'Montserrat', sans-serif;
